<footer class="footer">
  <small><%= t('.credit_html') %></small>
  <nav>
    <ul>
      <li><%= link_to t('.about'), about_path %></li>
      <li><%= link_to t('.contact'), contact_path %></li>
      <li><%= link_to t('.news'), 'http://news.railstutorial.org/' %></li>
      <li><%= render('layouts/language') %></li>
    </ul>
  </nav>
</footer>
